*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

.form {
    margin:10px;

}

.border { 
    border:#09888c 1px solid;
}

.i {
    font-style: italic;
}

header {
    margin: 10px;
}

body {
    background-color: #F6F4DF;
    margin: 0px;
    padding: 0px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1px;
}

section {
    background-color: #ffffff;
    margin: 1px;
    padding: 10px
}

section > h1, p{
    padding: 10px;
}

section > h2 {
    padding-left: 10px;
}

label {
    font-size: 1.3rem;
}

button {
    padding: 8px;
    border-radius: 0px;
}

footer {
    background-color: #DFB886;
    margin-top: 15px;
    padding:10px;
    width: 100%;
}

footer > p {
    padding: 10px;
}